*

!.gitignore
!.gitattributes
!CMakeLists.txt
!Config.cmake.in
!license
!readme
!build.sh
!mac_build.sh

!include
!include/mcgs
!include/mcgs/mcgs.hpp

!src
!src/multithreading.hpp
!src/color.cpp
!src/partition.hpp
!src/partition.cpp
!src/reorder.cpp
!src/solve.cpp

!test
!test/main.cpp
!test/parseMatrixMarket.hpp
!test/parseMatrixMarket.cpp
!test/input.tar.gz

!.vscode
!settings.json
